.header_style{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    height: fit-content;
    border: 3px solid rgba(32, 31, 30, 0.12);
    padding: 20px 16px;
    gap: 8px;
}

.header_style>h1{
    font-family: Lato;
    font-weight: bold;
    color: #000;
    font-size: 24px;
    margin: 0px;
}

.heager_logo{
    padding: 20px 16px;
    display: flex;
    gap: 8px;
}