#root, body{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Lato;
  font-weight: normal;
  src: url('./assets/text/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url('./assets/text/Lato-Bold.ttf');
}